# Compiled
*.elc

# Packaging
.cask

# Undo-tree save-files
*.~undo-tree

# emacs
*/.emacs.d/#recentf#
*/.emacs.d/.cache/
*/.emacs.d/.dap-breakpoints
*/.emacs.d/.extension/
*/.emacs.d/.lsp-session-v1
*/.emacs.d/bookmarks
*/.emacs.d/eln-cache/
*/.emacs.d/transient/
*/.emacs.d/tutorial/
*/.emacs.d/var/
auto-save-list/
elpa/
eshell/
history
ido.last
kkcrc
projectile-bookmarks.eld
projectile.cache
recentf
session.*

# vim
*/.vim/.netrwhist

# etc
super-linter.log
*/.vim/pack/
